@use 'styles/colors';
@use 'styles/vars';

.header {
    width: 100%;
    min-width: vars.$min-page-width;
    color: colors.$txt-main;
    background-color: #202020;
    padding: 1rem 1.5rem;

    .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.1rem;
        font-weight: 600;
        color: colors.$txt-hero;
    }

    .bottomRow{
        margin-top: 2rem;
    }

    .userBtn {
        color: colors.$txt-main;
        gap: 1rem;

        .icon {
            color: colors.$txt-main;
            background-color: colors.$hero;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .username {
            display: none;
            transition: all 300ms ease-in-out
        }

        :hover.username {
            color: colors.$txt-hero;
        }
        
    }

    .topOptions {
        display: none;
    }

    @media screen and (min-width: 600px) {
        padding: 1rem 3rem;
        .topOptions {
            display: flex;
        }

        .bottomRow {
            display: none;
        }

        .userBtn .username { 
            display: flex;
        }
    }
}