@use 'styles/colors';

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid red;

    .container {
        position: absolute;
        top: 4rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 18rem;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 4px;
        box-shadow: 0 0 16px rgba(0,0,0,.6), 0 0 32px rgba(0,0,0,.3);
        background-color: colors.$bg-popup;
        font-size: 1.1rem;

        h1 {
            font-size: 1.3rem;
            font-weight: 500;
        }

        
    }

    .btnContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem;
        margin-top: 1rem;

        button {
            font-size: 1.1rem;
            font-weight: 600;
            color: colors.$txt-hero;
        }

    }
}