@use 'styles/colors';

$mob-width: 82vw;
$dt-width: 90vw;

.bottom,
.imgWrapper,
.header,
.audioPlayer {
    border: 1px solid transparent;
}

.audioPlayer {
    background-color: #080808;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    min-height: 3.2rem;
    width: $mob-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trackList {
    display: none;
}

.headerButton {
    height: 100%;
    padding: .5rem 0;
    color: #fff;
    font-size: 1.25rem;
}

.imgContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgWrapper {
    position: relative;
    width: $mob-width;
    height: $mob-width;
    border-radius: 6px;
    overflow: hidden;
}

.bottom {
    width: $mob-width;
    display: flex;
    flex-direction: column;
}

.info,
.progress {
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.info {
    line-height: 1.25;
    color: #bbb;

    &SongTitle {
        font-size: 1rem;
        color: #fff;
        margin-bottom: .2rem;
        font-weight: 600;
    }

    &AlbumTitle,
    &Artist,
    &SongTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.progress {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.25rem;
}

.trackListWrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
}

.buttonsVol {
    display: none;
}

.buttonsTrack {
    display: flex;
    gap: 2.5rem;
}

@media screen and (min-width: 700px) {

    .audioPlayer {
        gap: 4rem;
    }

    .header,
    .middle,
    .imgWrapper {
        border: 1px solid transparent;
    }

    .header,
    .middle {
        width: $dt-width;
    }

    .middle {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        flex: 0;
    }

    .trackList {
        display: block;
    }

    .trackListButton {
        display: none;
    }

    .imgWrapper {
        border-radius: 4px;
        max-width: 15rem;
        max-height: 15rem;
    }

    .buttons {
        justify-content: space-between;

        &Track {
            gap: 1rem;
        }

        &Vol {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}

@media screen and (min-width: 900px) {

    .buttonsTrack {
        gap: 2.5rem;
    }

    .buttonsVol {
        gap: 2.5rem;
    }
}