@use 'styles/colors';
@use 'styles/vars';

$gap: vars.$album-grid-gap;
$subdued-text: #a5a5a5;

// The following values are calculations for the album card width
// They are based on a percentage width of the flex container (minus the flex gap)
$width-mob: calc((1/2 * 100%) - ($gap * 1/2));
$width-500: calc((1/3 * 100%) - ($gap * 2/3));
$width-700: calc((1/4 * 100%) - ($gap * 3/4));
$width-800: calc((1/5 * 100%) - ($gap * 4/5));
$width-1200: calc((1/6 * 100%) - ($gap * 5/6));
$width-1400: calc((1/7 * 100%) - ($gap * 6/7));
$width-1600: calc((1/8 * 100%) - ($gap * 7/8));
$width-1920: calc((1/9 * 100%) - ($gap * 8/9));

.card {
    width: $width-mob;
    flex-shrink: 0;
    contain: layout style paint;
    margin-bottom: 1rem;
}

.art {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;

    button {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.8);

        @media screen and (min-width: 600px) {
            height: 4.5rem;
            width: 4.5rem;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            color: #cacaca;
        }
    }
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 150ms ease-in-out;
}

// Play button animations for large screens
@media screen and (min-width: 600px) {
    .card:hover .overlay {
        opacity: .5;
    }

    .art button {
        scale: 0;
        transition: scale 150ms ease-in-out;

        &:hover {
            transition: all 150ms ease-in-out;
        }
    }

    .card:hover .art button {
        scale: 1;

        &:hover {
            transition: all 150ms ease-in-out;
            background-color: rgba(22, 155, 69, .9);
            color: #fff;
            scale: 1.2;
        }
    }
}

// Play button animations for small screens
@media screen and (max-width: 600px) {
    button.clicked {
        color: rgba(22, 155, 69);
        outline: 1px solid #169b45;
        outline-offset: 12px;
        box-shadow: 0 0 24px #169b45;
    }
}

.playIcon {
    margin-left: .15rem;
    width: .8rem;
    height: .8rem;

    @media screen and (min-width: 600px) {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 0.5rem;
}

.artist {
    color: #a5a5a5;
    margin-top: .25rem;
    font-size: .9rem;
}

.art,
.artist,
.title {
    cursor: pointer;
}

.artist, .title {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 500px) {

    .card {
        width: $width-500;
    }

    .artist {
        color: #757575;
    }
}

@media screen and (min-width: 700px) {
    .card {
        width: $width-700;
    }
}

@media screen and (min-width: 800px) {
    .card {
        width: $width-800;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: $width-1200;
    }
}

@media screen and (min-width: 1400px) {
    .card {
        width: $width-1400;
    }
}

@media screen and (min-width: 1600px) {
    .card {
        width: $width-1600;
    }
}

@media screen and (min-width: 1920px) {
    .card {
        width: $width-1920;
    }
}