$black-900: hsl(0, 0%, 6%);
$black-800: hsl(0, 0%, 7%);
$black-700: hsl(0, 0%, 8%);
$black-600: hsl(0, 0%, 9%);
$black-500: hsl(0, 0%, 10%);
$black-400: hsl(0, 0%, 11%);
$black-300: hsl(0, 0%, 12%);
$black-200: hsl(0, 0%, 13%);
$black-100: hsl(0, 0%, 14%);

$teal-900: #004D40;
$teal-800: #00695C;
$teal-700: #00796B;
$teal-600: #00897B;
$teal-500: #009688;
$teal-400: #009688;
$teal-300: #4DB6AC;
$teal-200: #4DB6AC;
$teal-100: #4DB6AC;
$teal-050: #E0F2F1;

$white: rgb(240, 240, 240);