// For use within this document only
$rgb-000: #000000;
$rgb-007: #070707;
$rgb-010: #0a0a0a;
$rgb-018: #121212;
$rgb-019: #131313;
$rgb-024: #181818;
$rgb-026: #1a1a1a;
$rgb-036: #242424;
$rgb-040: #282828;
$rgb-042: #2a2a2a;
$rgb-077: #4d4d4d;
$rgb-090: #5a5a5a;
$rgb-094: #5e5e5e;
$rgb-114: #727272;
$rgb-156: #9c9c9c;
$rgb-167: #a7a7a7;
$rgb-172: #b2b2b2;
$rgb-179: #b3b3b3;
$rgb-255: #ffffff;
$green                     :#1ed760;
$dark-green                :#169b45;
$yellow                    :#ffa42b;
$sky-blue                  :#3d91f4;
$blue                      :#0d72ea;
$red                       :#e91429;
$pink                      :#f15e6c;

// Exported theme colors 
$hero                      :#169b45;
$hero-hover                :#1ab751;

$bg-main                   :#101010;
$bg-pane                   :#202020;
$bg-card                   :#181818;
$bg-popup                  :#323232;

// Text colors
$txt-main                  :#ffffff;
$txt-hero                  :#1ab751;
$txt-hero-hover            :#45d176;
$txt-subdued               :#999999;
$txt-placeholder           :#727272;

$btn-hero                  :$hero;
$btn-hero-hover            :$hero-hover;

$border-hero               :$hero;
$border-hero-hover         :$hero-hover;

$border-grey               :#767676;

$input-bg                  :#121212;
$input-bg-disabled         :#2a2a2a;

$scrollbar-bg              :#4d4d4d;
$scrollbar-bg-hover        :#5e5e5e;
$scrollbar-bg-active       :$hero-hover;

// Errors
$error-txt                 :#ff1234;
$error-bg                  :#1e0e11;
