@use 'fonts';
@use 'styles/colors';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    font-size: 16px;
    font-family: fonts.$sans;
}

/* Scrollbar Styles */
html {
    scrollbar-width: thin;
    scrollbar-color: colors.$scrollbar-bg transparent;
    scrollbar-color: red transparent;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: colors.$scrollbar-bg;
    border-radius: 10px;

    :hover {
        background-color: colors.$scrollbar-bg-hover;
    }
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all 300ms ease-in-out;
}

input, button {
    font-size: 1rem;
}

input {
    min-width: 0;
    background-color: colors.$input-bg;
    border-radius: 4px;
    padding: .8rem 1rem;
    border: 2px solid colors.$border-grey;
    color: colors.$txt-main;
    caret-color: colors.$txt-main;
    outline: none;
    transition: all 300ms ease-in-out;

    &::placeholder {
        color: colors.$txt-placeholder;
        background-color: colors.$input-bg;
        opacity: 1;
    }

    &:placeholder-shown {
        border-color: colors.$border-grey;
    }

    &:focus {
        border-color: colors.$hero;
    }

    &:disabled {
        background-color: colors.$input-bg-disabled;
        border-color: #444;
        color: colors.$txt-placeholder;
        font-style: italic;
        cursor: no-drop;
    }
}

// These styles remove the autofill background color in firefox/chrome
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px colors.$input-bg inset !important;
    -webkit-text-fill-color: colors.$txt-main !important;
}




