@use 'styles/colors';
@use 'styles/vars';

.home {
    min-height: 100%;
    //border: 2px solid red;
    background-color: colors.$bg-main;
    display: flex;
    flex-flow: column;
}

.miniPlayerWrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.audioPlayerWrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}