@use 'styles/colors';
@use 'styles/vars';

.home {
    min-height: 100%;
    //border: 2px solid red;
    background-color: colors.$bg-main;
    display: flex;
    flex-flow: column;
}

.miniPlayerWrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.audioPlayerWrapper {
    position: fixed;
    background-color: rgba(8, 8, 8);
    width: 100vw;
    height: 100%;
    overflow-y: scroll;

    @media screen and (max-width: 600px) {
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
    }
}